body{
    background-color: rgb(36, 32, 32);
    color:white;
    text-align: center;
}
.main{
    display: flex;
    gap:30px;
    justify-content: space-between;
}
.library{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 10px;
    width: 80%;
}
.library>div{
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(113, 59, 184);
    color: rgb(2, 5, 5);
    box-shadow: 1px 1px 1px 1px black;
    padding: 10px;
    width: 300px;
}
.library>div>button{
    background-color: rgb(214, 6, 6);
    color: white;
    width: 30%;
}
.library>div>.read{
    background-color: rgb(73, 73, 22);
}
.library>div>.unread{
    background-color: rgb(197, 121, 7);
}
.form{
    background-color: grey;
    padding: 20px;
    width: 20%;
    border-radius: 4px;
    text-align: left;
}
.del{
    margin-left: 5px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
form>div{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: 600;
    color: black;
}
input,select{
    height: 35px;
    border-radius: 5px;
    border: none;
}
button{
    width:50% ;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 255, 115);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
button:hover{
    background-color: rgba(0, 255, 115,0.5);
}